<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.theme.default.min.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/assets/img/Favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/fontawesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/fontawesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/media.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.theme.default.css}">


</head>
<body>
<!-- header area start-->
<!-- first row -->
<div th:fragment="header">
    <header>
        <div class="topbar-outer py-2 border-bottom bg-white d-md-none d-none d-none d-lg-block">
            <div class="container custom_container">
                <div class="row">
                    <div class="col-lg-5 col-md-4 col-sm-4 topbar_left">
                        <ul>
                            <li>
                                <span class="font-weight-bolder">Get 30% Off On Selected Items</span>
                            </li>
                        </ul>
                    </div> <!-- col-lg-5 col-md-4 col-sm-4 hidden-md-down topbar_left -->
                    <div class="col-lg-7 col-md-8 col-sm-8 text-xs-right  topbar_right text-right">

                        <nav class="navbar ">
                            <div class="dropdown right1 md_acc ">
							  <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"><a href="#" class="font-weight-bolder"> my account&nbsp;<i
                                      class="fas fa-angle-down"></i></a>
							  </span>
                                <div class="dropdown-menu r_menu dropdown-menu-right">
                                    <a class="dropdown-item font-weight-bolder" href="login.html">log in</a>
                                    <a class="dropdown-item font-weight-bolder" href="registration.html">register</a>
                                </div>
                            </div>
                            <div class="dropdown right1 md_1 hr_">
						  <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><a href="#" class="font-weight-bolder"> USD&nbsp;<i
                                  class="fas fa-angle-down"></i></a>
						  </span>
                                <div class="dropdown-menu r_menu dropdown-menu-right">
                                    <a class="dropdown-item font-weight-bolder" href="#">SAR SAR</a>
                                    <a class="dropdown-item font-weight-bolder" href="#">USD $</a>
                                </div>
                            </div>

                            <div class="dropdown right1 md_2 hr_">
						  <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><a href="#" class="font-weight-bolder">ENG&nbsp;<i
                                  class="fas fa-angle-down"></i></a>
						  </span>
                                <div class="dropdown-menu r_menu dropdown-menu-right">
                                    <a class="dropdown-item font-weight-bolder" href="#">English</a>
                                    <a class="dropdown-item font-weight-bolder" href="#">Polski</a>
                                    <a class="dropdown-item font-weight-bolder" href="#">Romana</a>
                                    <a class="dropdown-item font-weight-bolder" href="#">Deutsch</a>
                                    <a class="dropdown-item font-weight-bolder" href="#">Italiano</a>
                                </div>
                            </div>
                        </nav>

                    </div> <!-- col-lg-7 col-md-8 col-sm-8 text-xs-right hidden-md-down topbar_right text-right -->
                </div> <!-- row -->
            </div> <!-- container custom_container -->
        </div> <!-- topbar-outer py-2 border-bottom bg-white -->

        <!-- second row -->

        <div class="header-top py-4 border-bottom bg-white ">
            <div class="container custom_container header-top-container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-6  head-logo">
                        <div class="text-left header-top-left pt-2"><a th:href="@{/index}"><img
                                src="/static/assets/img/Hitech..png"
                                class="img-responsive img"
                                alt="Hitech"></a></div>
                    </div> <!-- col-xl-2 col-lg-2 col-md-2 col-sm-3 head-logo -->
                    <div class="col-xl-10 col-lg-10 col-6  head-search">
                        <div class="d-flex navbar">
                            <div class="input-class  text-left col-xl-8 col-lg-7 col-md-12  ">
                                <div class="between-header border border-danger rounded mb-0 head-left">

                                    <select class="select-menu form-select d-none d-sm-block">
                                        <option value="selected">所有分类</option>
                                        <option value="1">手机</option>
                                        <option value="2">电脑</option>
                                        <option value="3">平板</option>
                                        <option value="3">电视</option>
                                        <option value="3">家用电器</option>
                                        <option value="3">耳机音响</option>
                                        <option value="3">穿戴</option>
                                        <option value="3">配件</option>
                                    </select>


                                    <div class="input-group">
                                        <form th:action="@{/product/search}" method="get">
                                            <input type="text" placeholder="请输入商品名" class="form-control"
                                                   name="name"
                                                   aria-label="search"
                                                   aria-describedby="button-addon2" id="product_name">
                                            <div class="input-group-btn">
                                                <input type="submit"
                                                       class="btn btn-danger text-uppercase font-weight-normal"
                                                       value="提交"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- between-header text-left col-sm-8 head-left border border-danger rounded mb-0 -->
                            </div>

                            <div class="col-xl-4 col-lg-5 head-right text-right">
                                <ul>
                                    <li class="md_compare d-lg-inline-block">
                                        <a href="compare.html">
                                        <span class="rcom d-lg-inline-block d-md-none d-sm-none d-none"><svg
                                                width="34px" height="34px"><use
                                                xlink:href="#compare"></use></svg></span>
                                            <span class="comp_wish align-middle d-lg-inline-block font-weight-bolder">compare</span>
                                        </a>
                                    </li>
                                    <li class="md_wish d-lg-inline-block d-md-none d-sm-none d-none">
                                        <a href="wishlist.html">
                                        <span class="rcom d-lg-inline-block d-md-none d-sm-none d-none"><svg
                                                width="35px" height="35px"><use
                                                xlink:href="#favourite"></use></svg></span>
                                            <span class="comp_wish align-middle d-lg-inline-block font-weight-bolder">favourite</span>
                                        </a>
                                    </li>

                                    <li class="d-lg-none d-md-inline-block user">
                                  <span>
                                    <a href="#"><span><svg width="35px" height="35px"><use
                                            xlink:href="#header_user"></use></svg></span></a>
                                  </span>
                                        <div class="head_ border rounded bg-white text-left">
                                            <a class=" md_login" href="#"></a>
                                        </div>
                                    </li>

                                    <li class="dropdown d-inline-block">
								  <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
								  	<a href="#">
										<span><svg width="35px" height="35px"><use
                                                xlink:href="#cart"></use></svg></span>
										<span class="text-danger d-lg-inline-block d-md-none d-sm-none d-none align-middle font-weight-bolder"></span><span
                                            class="text-danger price_cart d-md-inline-block align-middle font-weight-bolder">2</span>
									</a>
								  </span>
                                        <div class="dropdown-menu s_cart dropdown-menu-right">
                                            <ul class="shopping-cart p-2 ">
                                                <li class="pb-2 d-block">
                                                    <div class="media ">
                                                        <div>
                                                            <a href="#"><img src="assets/img/product/product_13.jpg"
                                                                             class="fst-image img-fluid align-self-center"
                                                                             alt="product_13"></a></div>
                                                        <div class="media-body">
                                                            <h6 class="mt-0 f_15">Media heading<span
                                                                    class="float-right cart_cross">X</span></h6>
                                                            <p><span class="f_13">1 x $ 299.00</span></p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="pb-2 d-block border-bottom pl-0">
                                                    <div class="media ">
                                                        <div>
                                                            <a href="#"><img src="assets/img/product/product_21.jpg"
                                                                             class="fst-image img-fluid align-self-center"
                                                                             alt="product_21"></a></div>
                                                        <div class="media-body">
                                                            <h6 class="mt-0 f_15">Media heading<span
                                                                    class="float-right cart_cross">X</span></h6>
                                                            <p><span>1 x $ 299.00</span></p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-block text-muted font-weight-bolder p-2 border-bottom">
                                                    <span class="text-left">subtotal:</span>
                                                    <span class="float-right">$230.00</span>
                                                </li>
                                                <li class="d-block font-weight-bolder pt-2">
                                                    <span class="text-left"><a href="cart.html">view cart</a></span>
                                                    <span class="float-right"><a
                                                            href="checkout.html">check out</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div> <!-- col-sm-4 head-right text-right -->

                        </div> <!-- row -->
                    </div> <!-- col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 head-search -->
                </div> <!-- row -->
            </div> <!--  container custom_container -->
        </div> <!-- header-top py-4 border-bottom bg-white -->

        <!-- third row -->

        <div id="sp_header_top"
             class="header_bottom shadow-sm bg-white rounded bg-white d-md-none d-sm-none d-none d-lg-block">
            <div class="container custom_container">
                <div class="row">

                    <div class="col-lg-9 text-left sp_hz_menu">
                        <ul class="main-menu navbar">
                            <li><a th:href="@{/index}">主页</a></li>
                            <li><a th:href="@{/shop}">所有商品</a></li>
                            <li><a th:href="@{/blog}">论坛</a></li>
                            <li><a href="portfolio-grid-4.html">gallery</a></li>
                            <li><a href="about-us.html">我的账户</a></li>
                            <li><a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-expanded="false">页面<i class="fas fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="about-us.html">我的</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="single-product.html">single product</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="single-blog.html">single
                                        blog</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           th:href="@{/login}">登录</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="registration.html">注册</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="cart.html">购物车</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           th:href="@{/compare}">比较</a>
                                    </li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="wishlist.html">wishlist</a>
                                    </li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder"
                                                           href="checkout.html">check
                                        out</a></li>
                                    <li class="d-block"><a class="dropdown-item font-weight-bolder" href="forgot.html">忘记密码</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- col-lg-9 text-left -->

                </div> <!-- row -->
            </div> <!-- container custom_container -->
        </div> <!-- header_bottom shadow-sm bg-white rounded bg-white -->

    </header> <!-- header -->
</div>

<!-- header area end -->
<script th:src="@{/static/assets/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/static/assets/js/owl.carousel.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/js/popper.min.js}"></script>
<script th:src="@{/static/assets/js/all.min.js}"></script>
<script th:src="@{/static/assets/js/index.js}"></script>
<script th:src="@{/static/assets/js/wow.min.js}"></script>
</body>
</html>