<!DOCTYPE html>
<html class="" lang="en">
<head>
    <title>Hitech</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.theme.default.min.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/assets/img/Favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/fontawesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/fontawesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/media.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/owl.theme.default.css}">


</head>
<body>
<div th:insert="svg::svg"></div>
<!--header start-->
<div th:insert="header::header"></div>
<!--header end-->

<!-- vertical menu start-->
<div th:insert="menu::menu"></div>
<!-- vertical menu end -->


<!-- registration page -->


<div id="Registration_page" class="Registration-page animate__animated animate__fadeInUp">


    <div class="sp_header bg-white p-3">
        <div class="container custom_container">
            <div class="row ">
                <div class="col-12 ">
                    <ul>
                        <li class="d-inline-block font-weight-bolder"><a th:href="@{/index}">主页</a></li>
                        <li class="d-inline-block hr_ font-weight-bolder"><a th:href="@{/register}">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container custom_container">
        <h3 class="text-center">注册账号</h3>
        <div id="Registration" class="page-content card card-block p-3 p-sm-4  ">
            <form class="needs-validation " method="post" th:action="@{/user/create}" novalidate>


                <div class="d-flex">
                    <div class="form-group col-md-6 pl-0 ">
                        <label for="f_name" class="font-weight-bolder">真实姓名</label>
                        <input type="text" class="form-control" id="f_name"  name="realname">
                        <div class="invalid-feedback">Please Enter your Name.</div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="r_email" class="font-weight-bolder">用户名</label>
                    <input type="text" class="form-control" id="r_email"  name="username">
                    <div class="invalid-feedback">Please Enter your Account Name.</div>
                </div>

                <div class="form-group">
                    <label for="r_password" class="font-weight-bolder">密码</label>
                    <input type="password" class="form-control" id="r_password"  name="password">
                    <div class="invalid-feedback">Please Enter your password.</div>
                </div>


                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">我同意条款和条件以及隐私政策</label>
                </div>

                <div>
                    <input type="submit" name="submit" class="btn btn-primary mt-3 float-right" value="提交"></div>

            </form>
        </div>
    </div>


</div>    <!-- login_page -->


<!-- registration page -->


<!--end footer-->
<div th:insert="footer::footer"></div>
<script th:src="@{/static/assets/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/static/assets/js/owl.carousel.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/js/popper.min.js}"></script>
<script th:src="@{/static/assets/js/all.min.js}"></script>
<script th:src="@{/static/assets/js/index.js}"></script>
<script th:src="@{/static/assets/js/wow.min.js}"></script>
<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>